body {
    font-size: 20px;
    font-family: 'Mansalva', cursive;
    padding: 20px;
    margin-block: 30px
}

.container {
    margin: 0%;
    display: flexbox;
}

div header {
    font-style: italic;
    font-family: serif;
    letter-spacing: 10px;
    background-coloe: red;
    text-align: center;
    font-size: 30px;
    padding: 0px;
    margin: 0%;
}

div nav {
    color: green;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin: 0%;
    background-color: blue;
}

.clearfix {
    color: red;
}

aside {
    width: 40%;
    height: 35px;
    margin-left: 0%;
    display: grid;
    float: right;
    text-align: right;
    font-size: 30px;
    padding: 20px;
    background-color: yellow;
}

section {
    height: 75px;
    margin-right: 50%;
    display: block;
    font-size: 10px;
    background-color: aqua;
    S padding: 20px;
}

.h {
    width: 50%;
    margin: 30px;
    background-color: blue;
}

h1 {
    display: inline;
}

h2 {
    display: inline;
}

h3 {
    display: inline;
}

footer {
    float: center;
    color: blue;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: brown;
}